
@import url(https://fonts.googleapis.com/css?family=Chivo:400,900,400italic,900italic);

body {
	/*padding-top: 70px;*/
	padding-top: 30px;
	/*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Lato', sans-serif; 
  font-size: 14px;
  /*font-weight: 400;*/
  font-weight: 300;
  color: #555;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400px;
  /*font-family: 'Open Sans', sans-serif;*/
}


.navbar-inverse {
	background-color: #001933;
	border-color: #001933;
}

.navbar-default .navbar-brand {
	font-family: 'Lato', sans-serif; 
	font-weight: 400;
	font-size: 36px;
	font-style: italic;
	color: #F5F5F5;
}

.navbar-default:hover .navbar-brand:hover {
color: #758290;
}

.navbar-default .navbar-nav > li > a {
	color: #F5F5F5;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #758290;
}

/*-------------------------------
  Jumbotron
--------------------------------------------- */
/*.jumbotron {
	background-image: 
    -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/field.jpg);
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),
    
  url(../img/shadowmount.jpg); */
/*    url(../img/mountshadow.jpg);*/  
      
/*	background-position: center;
	background-size: cover;
	height: 400px;
}*/

.jumbotron {
/*  height: 350px;*/
  height: 400px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
  background-image: 
    -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); 

  /*background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4);*/
}


.jumbotron h1 {
	text-align: center;
	color: #FFFFFF;
}

.jumbotron p {
	padding-top: 30px;
	text-align: center;
	/*color: #D9853B;*/
	color: #D9853B;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  padding-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  line-height: 28px;
}

.container.marketing {
	padding-bottom: 25px;
}

/*-------------------------------
  ICONS
--------------------------------------------- */
.small-icons {
  margin-top:0px;
  font-size: 24px;
/*  height: 40px;
  width: 40px;*/
  height: 50px;
  width: 50px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  border-radius: 100%;
  margin-bottom: 10px;
}

.icon-round {
  margin-top:30px;
  font-size: 24px;
/*  height: 68px;
  width: 68px;*/
  height: 78px;
  width: 78px;
/*  line-height: 68px;*/
  line-height: 78px;
  color: #fff;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  border-radius: 100%;
  margin-bottom: 10px;
}

.bk-color-blue {
    color: #BB00BB;
}

.bk-color-orange-red {
  background-color: #C63D0F;
}

.bk-color-orange {
	background-color: #FFA500;
}

.bk-color-purple {
  background-color: #4D1B7B;
}

/* icons in contact section */
.contact-icons {
  font-size: 24px;
}

/* make email icon slightly smaller */
#email-icon {
  font-size: 22px;
}

/*-------------------------------
  Workout Image
--------------------------------------------- */
 .workout {
 	width: 100%;
/* 	background: url(../img/workout2.jpg) no-repeat;*/
 	background-position: center;
	background-size: cover;
	height: 400px;
	padding: 0;
 }

 .workout h1 {
  padding-top: 150px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #ffffff;
  /*color: #333;*/
}

 /*-------------------------------
  Parallax - css version
--------------------------------------------- */

 /*.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
 }

 .parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax-layer-base {
  transform: translateZ(0);
}

.parallax-layer-back {
  transform: translateZ(-1px) scale(2);
}

.parallax-group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}*/

/*-------------------------------
  About
--------------------------------------------- */
.about {
	padding-top: 50px; 
}

.about h1 {
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  /*color: #333;*/
}

.about p {
  line-height: 28px;
/*  padding-top: 20px;
  padding-bottom: 20px;*/
  padding: 20px 10px 20px 10px;
}

/*.about hr {
  border-top: 1px solid #E2E2E2 !important;
}*/

hr {
  border-top: 1px solid #E2E2E2 !important;
}

/*-------------------------------
  Sunset Image
--------------------------------------------- */
 .sunset {
  width: 100%;
 /* background-image: url(../img/workout1.jpg);*/
 /* background: url(../img/sunset.jpg) no-repeat;*/
  background-position: center;
  background-size: cover;
  height: 400px;
  padding: 0;
 }

 .sunset h1 {
  padding-top: 100px;
  color: #ffffff;
 }

 .sunset h3 {
  padding-top: 50px;
  color: #ffffff;
 }

/* ------------------------- 
  Approach
--------------------------------------------- */

.approach {
  padding-top: 50px; 
}

.approach h2 {
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.approach p {
  line-height: 28px;
  margin-bottom: 20px;
}

.approach hr {
  padding-bottom: 15px;
}

/* ------------------------- 
  Yoga Picture
--------------------------------------------- */
 .yoga {
  width: 100%;
 /* background-image: url(../img/workout1.jpg);*/
/*  background: url(../img/yoga.jpg) no-repeat;*/
  background-position: center;
  background-size: cover;
  height: 400px;
  padding: 0;
 }

.yoga h1 {
  padding-top: 100px;
  color: #ffffff;
 }

 .yoga h3 {
  padding-top: 50px;
  color: #ffffff;
 }


/* ------------------------- 
  Testimonial
--------------------------------------------- */
 .testimony h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  padding: 20px 0 20px 0;
 }


/* ------------------------- 
  Contact
--------------------------------------------- */
.contact {
  padding-bottom: 20px;
}

.contact h2 {
  padding-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.contact-icons {
  padding-right: 25px;
  line-height: 40px;
}

.contact a {
  color: #2A2A2A;
}

#fb-icon i {
  color: #3A5795;
}

.contact hr {
  padding-bottom: 20px;
}

/* ------------------------- 
  Footer
--------------------------------------------- */
#footer {
  padding: 20px;
  background-color: #001933;
  margin-top: 0;
  padding-right:50px;
}

#footer p {
  font-family: 'Lato', sans-serif; 
  color: #F5F5F5;
}








